.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }

.input input[type="campo"]{
  width: 328px;
  height: 55px;
  top: 237px;
  left: 347px;
  border: 0px solid #ccc;
  border-radius: 15px;
  outline: none;
  padding-left: 15px;
  background-repeat: no-repeat;
}

.input input[type="campo"] {
  background-position: 10px center; 
  background-color:  #F0EDFF; 
  color: #333;  
}

.input input[type="campo"]:focus{
  border-color: #00a0d2; 
}

.input input[type="campo"]::placeholder {
  color: #9181F4;
}