.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-login {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.Login {
  width: 124px;
  height: 52px;
  padding: 0;
  font-size: 16px;
  border: none;
  border-radius: 16px;
  outline: none;
  background: linear-gradient(to right, #9181F4, #5038ED);
  color: #fff;
  cursor: pointer;
}

.Login:hover {
  background: linear-gradient(to right, #5038ED, #9181F4);
}
