.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-login {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.Login {
  width: 124px;
  max-width: 20vh;
  min-width: 2vw;
  height: 52px;
  max-height: 10vh;
  min-height: 2vh;
  padding: 0;
  font-size: 16px;
  border: none;
  border-radius: 16px;
  outline: none;
  background: linear-gradient(to right, #9181F4, #5038ED);
  color: #fff;
  cursor: pointer;
  white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
  overflow: hidden; /* Oculta o texto que ultrapassa os limites do botão */
  text-overflow: ellipsis; /* Adiciona reticências (...) para indicar que o texto foi cortado */
}

.Login:hover {
  background: linear-gradient(to right, #5038ED, #9181F4);
}
