.Inputlogin input[type="email"],
.Inputlogin input[type="password"] {
  width: 400px;
  height: 60px;
  top: 237px;
  left: 347px;
  padding: 10px;
  font-size: 16px;
  border: 0px solid #ccc;
  border-radius: 20px;
  outline: none;
  padding-left: 40px;
  background-repeat: no-repeat;
}

.Inputlogin input[type="email"] {
  background-image: url('../../Images/IconUser.svg');
  background-position: 15px center; 
  background-color:  #F0EDFF; 
  color: #333; 
}

.Inputlogin input[type="password"] {
  background-image: url('../../Images/IconPass.svg');
  background-position: 10px center; 
  background-color:  #F0EDFF; 
  color: #333; 
}

.Inputlogin input[type="email"]:focus,
.Inputlogin input[type="password"]:focus {
  border-color: #00a0d2; 
}
