.gs-page {
    align-items: center;
    justify-content: center;
    max-height: 80vh;
}
.gs-header{
}

.gs-container {
    height: 100vh;
    max-height: 80vh;

}

.gs-content {
    text-align: center;
}

.logo-home{
    display: block;
    max-width: 100%;
    width: 16%;
    margin: 0 auto;
    margin-top: -10vh;
    margin-bottom: 10vh;
}

.text-m1 {
    font-family: 'Yeseva One';
    font-size: 1.5vw;
    text-align: center;
    color: #2E1042;
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-weight: 700;
  }

.text-m2{
    font-family: 'Glacial Indifference';
    font-size: 1.2vw;
    text-align: center;
    color: #000000;
    margin-bottom: 4vh;
}

.text-m3{
    font-family: 'Yeseva One';
    font-size: 1.2vw;
    text-align: center;
    color: #2E1042;
    margin-bottom: 2vh;
    font-weight: 600;
}

.gs-button{
    margin: 0 auto;
}
  