@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ruda&display=swap");

body {
    background-color: #f6f6f6;
}

.container-finish-screen {
    position: relative;
    /* Adicione outros estilos necessários */
}

.container-done {
    position: fixed;
    bottom: 30vh;
    left: 5vw;
    margin-right: 10px;
    /* Ajuste conforme necessário */
}

.finish-style {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 18% 18% 0 0;
}

.text-inside-finish {
    transform: translate(50%, 20%);
    text-anchor: middle;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    fill: #2E1042;
}

.description-inside-finish {
    font-family: 'Ruda', sans-serif;
    transform: translate(50%, 50%);
    text-anchor: middle;
    font-size: 25px;
    fill: #511C74;
    font-weight: 500;
}

.description2-inside-finish {
    font-family: 'Ruda', sans-serif;
    transform: translate(50%, 60%);
    text-anchor: middle;
    font-size: 25px;
    fill: #511C74;
    font-weight: 500;
}

.button-more-suggestions {
    border-radius: 3%;
}

.button-container {
    display: flex;
    position: absolute;
    right: 90px;
    flex-direction: column;
    align-items: center;
    margin-top: -5%;
}

.container-results {
    position: relative;
    padding: 20px;
    margin-left: 10px;
}

.side-panel {
    position: fixed;
    right: 0;
    height: 70vh;
    width: 65vw;
    background-color: white;
    border: 30px solid #D0CAF1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 70vh; /* Defina uma altura máxima para o contêiner */
    overflow-y: auto; /* Adiciona uma barra de rolagem */
}

/* Ajuste da formatação de cada sugestão */
.suggestion-card {
    width: 100%;
    margin-bottom: 20px;
}

/* Flex para número e texto ficarem lado a lado */
.suggestion {
    display: flex;  /* Alinha número e texto na mesma linha */
    align-items: center; /* Alinha verticalmente */
    margin-bottom: 10px;
}

.suggestion-index {
    font-weight: bold;
    font-family: 'Ruda', sans-serif;
    font-size: 18px;
    color: #511C74;  /* Aplica a cor roxa */
    margin-right: 8px;  /* Espaço entre o número e o texto */
}

.suggestion-content {
    font-family: 'Ruda', sans-serif;
    font-size: 18px;
    color: #511C74;  /* Aplica a cor roxa */
    word-wrap: break-word;  /* Garante que o texto não ultrapasse os limites */
}

/* Estilo para os botões */
.button-more-suggestions {
    border-radius: 3%;
}

.button-container {
    display: flex;
    position: absolute;
    right: 90px;
    flex-direction: column;
    align-items: center;
    margin-top: -5%;
}