
.container {
    background-size: cover;
    background-position: center; 
  }
  
.container img {
    height: auto; 
    width: 100%;
    
}
.gift {
    margin-top: 10px; 
    padding: 10px 20px;
    background-color: white;
    color:black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 90px;
   
}
.gift:hover {
    background-color: #f0f0f0; 
}

.texto {
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 66%; 
    transform: translateY(-50%);
    text-align: left;
    max-width: 40%;
    color: #fff;
}

.titulo {
    margin-bottom: 20px;
    color: rebeccapurple;
}

.texto-home {
    text-align: left;
    font-style: italic;
    color: black;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .texto {
        position: static;
        transform: none;
        margin-top: 10px;
        text-align: left;
        max-width: none;
        
    }
}
