* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 8vh;
  background-color: #FFFFFF;
  box-shadow: 0 3px rgba(96, 0, 255, 0.7);
  position: relative;
  z-index: 1;
}

.line {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  
}

.logo img {
  cursor: pointer;
  min-height: 8vh;
  height: 70px;
  max-height: 8vh;
  max-width: 40vh;
  height: 100px;
  
  
}

.navbar-button {
  margin-top: 10px; 
  padding: 15px 24px;
  background-color:rgba(96, 0, 255, 0.7);
  color:#FFFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  
  
}

.navbar-button:hover {
  background-color: #2980b9;
}
